
body {
  text-align: center;
  background-image: url("/static/images/large/backend.png");
  background-repeat: no-repeat;
  overflow: hidden;
}
div {
  margin: 10px auto;
  color: #888;
}

.title {
  margin: 30px 0;
  color: #cc9772;
  font-size: -webkit-xxx-large;
}

.button {
  color: #eee;
  background-color: #97522b;
  border-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0 80px;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;

  border-radius: 10px;
}

#begin_all {
  display: block;
}

.start_title {
  margin: 40px 0 1px 0;
  color: #211d1d;
}



#suspend_all {
  display: none;
}

#cover {
  background: #000;
  opacity: 0.5;
  position: absolute;
  margin: -40px 0;
  z-index: 900;
  width: 99%;
  height: 130%;
}

#suspend {
  position: absolute;
  z-index: 999;
  width: 30%;
  margin: 50px 35%;
  background-color: #f7f5f6;
  background-image: url(/static/images/large/background4.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
}

#suspend_title {
  margin: 40px 0 1px 0;
  color: #211d1d;
}

.suspend_score h2 {
  color: #752525;
  padding-bottom: 15px;
}

.suspend_score_part {
  margin: 5px auto;
}

.suspend_score_part p {
  color: #030303;
  text-align: center;
}


.suspend_score {
  width: 47%;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
}

#suspend_close {
  margin: 15px auto 35px;
}

#custom {
  margin: -3px auto 40px;
}

#board-all {
  padding-bottom: 1285px;
  margin-bottom: 20px;
}

#board {
  float: left;
  margin-left: 10%;;
}

#board-show {
  /*float: left;*/
  /*margin-left: 10%;*/
  padding-left: 1500px;
  width: 1070px;
  height: 1070px;
}
#control {
  margin-top: 10px;
}
