
/*棋子选择*/
.choose_color {
    margin: auto 40%;
}

.t_choose {
    margin: 25px auto 5px;
    padding: 15px 0 0;
}

.w {
    float: right;
    display: inline;
    margin: 0 -40% 0 3%;
}

.b {
    margin: 0 3% 0 -40%;
    float: left;
    display: inline;
}

.black {
    -webkit-appearance: none;
    display: block;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0, 36%, 14%, 0.15) 0 1px 1px, inset hsla(0, 18%, 79%, 0.5) 0 0 0 1px;
    background-color: hsl(0, 10%, 17%);
    background-image: -webkit-radial-gradient( hsl(200, 8%, 62%) 0%, hsl(200, 4%, 71%) 15%, hsl(0, 8%, 23%) 28%, hsla(200, 4%, 50%, 0) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1), -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
}


.white {
    -webkit-appearance: none;
    display: block;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: #bbbbbb 0 1px 1px, inset hsla(0, 18%, 79%, 0.5) 0 0 0 1px;
    background-color: hsl(0, 17%, 89%);
    background-image: -webkit-radial-gradient( hsl(200, 8%, 62%) 0%, hsl(200, 4%, 71%) 15%, hsl(0, 8%, 83%) 28%, hsla(200, 4%, 50%, 0) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1), -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
}

input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
input:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

input,
input:active {
  background-position: 0 24px;
}
input:checked {
  background-position: 0 0;
}
input:checked ~ input,
input:checked ~ input:active {
  background-position: 0 -24px;
}

/*等级选择*/
.choose_standard {
    margin: 10px auto;
    width: 100%;
    padding-top: 25px;
}

/*让子选择*/
.allow_stone {

}

.contain {
    width: 100%;
    height: 45px;
}

.dec {
    width: 10%;
    height: 100%;
    float: left;
    margin: 0;
    background-color: #c5c4c4;
    margin-left: 25%;
    border-radius: 8px;
    /*background-image: url("/static/images/large/left.jpg");*/
}

#allow_dec {
    font-size: xx-large;
    color: #292121;
    text-decoration: none;
}

.text {
    float: left;
    margin: 0;
    width: 30%;
    height: 100%;
    display: flex;
}

.num {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    border-radius: 2px;
}
.add {
    float: left;
    width: 10%;
    height: 100%;
    background-color: #c5c4c4;
    margin: 0;
    margin-right: 25%;
    border-radius: 8px;
}

#allow_add {
    font-size: xx-large;
    color: #292121;
    text-decoration: none;
}

#start {
    margin: 8% auto 10%;
  }