{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en">
<link rel="shortcut icon" type="image/png" href="{% static "/favicon.ico" %}">

<head>
  <meta charset="utf-8">
  <title>BetaGo user interface</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/board.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/buttons.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
  <script src="{% static "js/jquery.min.js" %}"></script>
</head>

<body>
  <!-- <div id="begin_all">
    <div id="cover"></div>
    <div id="suspend">
      <h1 class="start_title">开局设置</h1>
      <div class="choose_color">
        <h3 class="t_choose">执子: </h3>
        <div class="b">
          <input name="stone" type="radio" class="black" value="black" checked/>
        </div>
        <div class="w">
          <input name="stone" type="radio" class="white" value="white" />
        </div>
      </div>

      <div class="choose_standard">
        <h3 class="t_choose">难度: </h3>
        <div class="contain">
          <div class="dec"><a href="javascript:decSta()" id="allow_dec" > < </a></div>
          <div class="text"><input type="text" id="choose_sta" class="num" value="中级" disabled="disabled"></div>
          <div class="add"><a href="javascript:addSta()" id="allow_add"> > </a></div>
        </div>
      </div>

      <div class="allow_stone">
        <h3 class="t_choose">让子: </h3>
        <div class="contain">
          <div class="dec"><a href="javascript:decNum()" id="allow_dec" > < </a></div>
          <div class="text"><input type="text" id="allow_num" class="num" value="0" disabled="disabled"></div>
          <div class="add"><a href="javascript:addNum()" id="allow_add"> > </a></div>
        </div>
      </div>
      <a href="javascript:javascript:startGame()" id="start" class="button button-3d button-primary button-rounded">开局</a>
     </div>
  </div> -->

  <div id="suspend_all">
    <div id="cover"> </div>
    <div id="suspend">
      <h1 id="suspend_title">计算中...</h1>
      <div class="suspend_score" id="suspend_white">
        <h2>白棋</h2>
        <div class="suspend_score_part"><p>得分: </p> <p id="score_w">0.0</p></div>
        <div class="suspend_score_part"><p>在局数: </p> <p id="count_w">0</p></div>
        <div class="suspend_score_part"><p>吃子数: </p> <p id="kill_w">0</p></div>
      </div>
      <div class="suspend_score" id="suspend_black">
        <h2>黑棋</h2>
        <div class="suspend_score_part"><p>得分: </p> <p id="score_b">0.0</p></div>
        <div class="suspend_score_part"><p>在局数: </p> <p id="count_b">0</p></div>
        <div class="suspend_score_part"><p>吃子数: </p> <p id="kill_b">0</p></div>
      </div>

      <a href="javascript:" id="custom" class="button button-3d button-primary button-rounded">关闭</a>
    </div>
  </div>

  <h1 class="title"> Our Go Game </h1>

    <div id="board-all">
      <div id="board"></div>
      <div id="board-show"></div>
    </div>
    {% csrf_token %}
  <script src="{% static "js/dist/jgoboard-latest.js" %}"></script>
  <script src="{% static "images/large/board.js" %}"></script>
  <script>
        var id = {{uid}};
        var jboard = new JGO.Board(19);
        var jboard1 = new JGO.Board(19);
        var jsetup = new JGO.Setup(jboard, JGO.BOARD.largeWalnut);
        var jsetup1 = new JGO.Setup(jboard1, JGO.BOARD.largeWalnut);
        var player = JGO.BLACK; // next player
        var ko = false,
          lastMove = false; // ko coordinate and last move coordinate
        var lastHover = false,
          lastX = -1,
          lastY = -1; // hover helper vars
        var boardInit = {{post}};
        console.log(boardInit);
        // {#message = json.loads(bo);#}
        // Check for embedded game data
        if (boardInit) {
          // Set the board
          var boardRaw = jboard.getRaw(); // Use current state (blank) as a template
          boardRaw.stones = boardInit; // Add in our stone data
          jboard.setRaw(boardRaw); // Set it and forget it®
        }else {
          // alert that this data is missing
        }

  </script>
  <script src="{% static "js/qipan.js" %}"></script>
  <script src="{% static "js/game.js"  %}"></script>


  <div id="control">
    <a href="javascript:passStep();" class="button">过手</a>
    <a href="javascript:showCurrent();" class="button">当前棋局</a>
    <a href="javascript:giveUp();" class="button">认输</a>
  </div>
</body>

</html>
